@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
    outline: none;
}

body {
    background-color: #8D52FE;
}

#logo {
    width: 200px;
    display: block;
    margin: 20px auto;

}

main {
    background-color: rgba(255, 255, 255, 0.632);
    width: 375px;
    margin: 0 auto 40px;
    padding: 44px 24px 23px;
    border-radius: 20px;
}

label {
    color: rgba(29, 28, 28, 0.696);
    font-size: 14px;
    font-weight: 400;

}

select {
    background-color: white;
    border: 1px solid #bbbbbb;
    border-radius: 4px;
    height: 48px;
    width: 100%;
    margin-bottom: 24px;
    appearance: none;
    padding-left: 18px;
    font-weight: 700px;
    font-size: 16px;
    cursor: pointer;
}

input {
    background-color: white;
    border: 1px solid #bbbbbb;
    border-radius: 4px;
    height: 48px;
    width: 100%;
    margin-bottom: 24px;
    appearance: none;
    padding-left: 18px;
    font-weight: 700px;
    font-size: 16px;
}

button {
    background-color: #772FD3;
    color: white;
    font-size: 18px;
    font-weight: 700px;
    border: none;
    border-radius: 5px;
    width: 100%;
    height: 48px;
    cursor: pointer;

}

button:hover {
    opacity: 0.8;
    transition: .5s;
}

button:active {
    opacity: 0.6;
}

section {
    border: 1px solid #772FD3;
    border-radius: 20px;
    margin-top: 36px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.arrow-img {
    margin: 15px 0px;

}

.currency-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}
.currency {
    color: #777777;
    font-size: 14px;
}

.currency-value,
.currency-value-to-convert {
    color: #555555;
    font-weight: 700;
    font-size: 20px;
}